.tag {
    background-color: #FF6060;
    border-radius: 10px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    margin: auto 10px;
    min-width: 115px;
    padding: 5px 15px;   
    text-align: center; 
}
.tag:first-of-type {
    margin-left: 0;
}