header {
    align-items: center;
    display: inline-flex;
    margin: 40px 10%;
    width: 80%;
  }
  
  header > img {
    height: 68px;
  }
  
  nav {
    justify-content: flex-end;
    display: flex;
    width: 100%;
  }
  
  .lien-site {
    color: #ff6060;
    margin: auto 25px;
    text-decoration: none;
  }
  .lien-site:hover {
    color: #000000;
  }
  
  .lien-menu.active {
      border-bottom: 1px solid #ff6060;
  }
  
  @media screen and (max-width: 1490px) {
    header {
      margin: 40px 2.5%;
      width: 95%;
    }
    
    header > img {
      height: 47px;
    }
    .lien-menu {
      
      text-transform: uppercase;
    }
  
    .lien-site {
      margin: auto 5px;
    }
  }
  